################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp_july2nd/v16/Server/sqlite3
